div{
    width: 400px;
    height: 400px;
    background-image: url("bgtask3.jpg");
    margin: 20px;
    padding: 10px;
    font-size: 22px;
}

.one{
    background-repeat:no-repeat ;
}

.two{
    background-repeat:repeat-y ;
}

.three{
    background-repeat:repeat-x ;
}

.four{
    background-repeat:repeat ;
}