
div{
    width: 1200px;
    height: 50px;
    padding: 20px;
    margin: 40px;
    background-color: #eee;
    font-family: sans-serif;
}

.one::before{
    content: " ";
    position: absolute;
    border: 3px solid red;
    height: 85px;
    width: 0;
    left: 45px;
    top: 40px;
}
.one span{
    color: red;
    font-size: 22px;
}
